body {
    background-color: #ff0a0a;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");

  }

li{
    list-style-type: none;
}

  
.jumbotron{
    height: 60vh;
    font-size: 70px;
    font-family: 'Stylish', sans-serif;
    text-align: center;
    background-color: #ff0a0a;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
    color: whitesmoke;
}

h2{
    color: whitesmoke;
    font-family: 'Stylish', sans-serif;
}

.navbar-brand{
    
    font-family: 'Stylish', sans-serif;
  
    color: whitesmoke !important;
}

.navbar{
    background-color: #ff0000 !important;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
    color: whitesmoke !important;
    font-family: 'Stylish', sans-serif;

}

#navbarDropdown{
    font-family: 'Stylish', sans-serif;
    color: whitesmoke !important;
}

  .header{
      text-align: center;
      font-size: 30px;
      font-family: 'Stylish', sans-serif;
      color: whitesmoke;
  }

  .cars{
      font-family: 'Stylish', sans-serif;
      color: whitesmoke;
  }

  .films{
    font-family: 'Stylish', sans-serif;
    color: whitesmoke;
}

.persons{
    font-family: 'Stylish', sans-serif;
    color: whitesmoke;
}

.footer{
    width: 500px;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .Site-content {
    flex: 1;
  }








